* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16;
}

/* COLOURS */

:root {
  --color-primary: #000000;
  --color-secondary: #0500ff;
  --color-third: #ffffff;
  --color-bg: #f7f9fc;
}

body {
  overflow-x: hidden;
}

/* FONT STYLES & CLASSES*/

h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 50px;
}

h2 {
  padding-bottom: 32px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 35px;
}

h3 {
  padding-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 16px;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 16px;
}

.bold {
  font-weight: 700;
}

.small {
  font-size: 12px;
  padding: 16px 0px;
}

.italic {
  font-variation-settings: "slnt" 1;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 16px;
  gap: 16px;
}

/* BUTTON */

button {
  font-size: 16px;
  color: var(--color-secondary);
  border: var(--color-secondary) solid 2px;
  border-radius: 5px;
  height: 46px;
  padding: 0 46px;
  margin: 8px 0px;
  background: none;
}

button:hover {
  color: var(--color-third);
  background: var(--color-secondary);
  cursor: pointer;
}

button:focus-visible {
  outline: var(--color-primary) solid 3px;
  outline-offset: 4px;
}


/* NAVIGATION */

.burger-menu {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: #ffffff;
  padding-left: 160px;
  padding-right: 160px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  font-weight: 700;
}

.logo {
    max-height: 48px;
    padding-right: 16px;
}

.nav-logo {
  display: flex;
  align-items: center;;
}

.nav-logo p {
  font-size: 20px;
  font-weight: 700;
}

.nav-focus:focus-visible {
  outline: var(--color-primary) solid 3px;
  outline-offset: 8px;
  height: 46px;
  border-radius: 1px;
}

@media screen and (max-width: 438px) {
  .burger-menu {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: block;
  }
}

/* HEADING SECTION */

.haeding-section {
  padding: 56px 160px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 20px;
}

.lead {
  grid-column: span 4;
}

.lead button {
  width: 100%;
}

.column-1-11 {
  grid-column: 1 / 11;
}

.column-1-6 {
  grid-column: 1 / 6;
}

.column-1-5 {
  grid-column: 1 / 5;
}

.column-1-5 button{
  width: 100%;
}

.column-1-4 {
  grid-column: 1 / 4;
}

.column-5-9 {
  grid-column: 5 / 9;
}

.column-9-11 {
  grid-column: 9 / 11;
  position: relative;
}

.dashboard {
  grid-column: span 4;
}

.dash {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.kurs {
  display: flex;
  padding: 12px;
  flex-basis: calc(50% - 8px); /* 50% für die Hälfte der Breite, minus 16px für den gap */
  background-color: var(--color-bg);
  border-radius: 5px;
  align-items: center;
  box-sizing: border-box; /* Damit padding und border in die Breite einbezogen werden */
}

.kurs p {
  padding: 1px 0px;
}

.kurs-img {
  margin-right: 16px;
  width: 56px;
  height: 56px;
  border-radius: 5px;
  background-color: rgb(225, 225, 225);
}

.kurs-text {
  display: flex;
  flex-direction: column;
}

.inflation {
  display: flex;
  padding: 12px;
  width: 100%;
  height: 160px;
  background-color: var(--color-bg);
  border-radius: 5px;
}

.kreditkarte {
  width: 200%;
  transform: translateX(64px);
  overflow: clip;
}

/* NEWS SECTION */

.latest-news {
  padding: 56px 160px;
}

.news-card {
  display: flex;
  padding: 0px;
  flex-basis: calc(50% - 8px); /* 50% für die Hälfte der Breite, minus 16px für den gap */
  border-radius: 5px;
  align-items: center;
  box-sizing: border-box; /* Damit padding und border in die Breite einbezogen werden */
  grid-column: span 5;
}

.news p {
  padding: 8px 0px;
}

.news-img {
  margin-right: 16px;
  width: 60%;
  height: 100%;
}

.news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 10px;
}

.news-text {
  height: 100%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.news-text button {
  margin-top: 32px;
}

/* PUBLIACTIONS SECTION */

.publications {
  padding: 56px 160px;
}

.publi-card {
  display: flex;
  flex-basis: calc(20% - 16px); /* 50% für die Hälfte der Breite, minus 16px für den gap */
  border-radius: 5px;
  align-items: center;
  box-sizing: border-box; /* Damit padding und border in die Breite einbezogen werden */
  grid-column: span 2;
}

.publi p {
  padding: 8px 0px;
}

.publi-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.publi-content img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 16px;
}

/* SOCIAL MEDIA */

.socialmedia {
  padding: 56px 160px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 20px;
}

.some {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.some-card {
  display: flex;
  padding: 32px 32px 0px 32px;
  flex-basis: calc(50% - 8px); /* 50% für die Hälfte der Breite, minus 16px für den gap */
  background-color: var(--color-secondary);
  border-radius: 10px;
  box-sizing: border-box; /* Damit padding und border in die Breite einbezogen werden */
}

.some p {
  padding: 8px 0px;
}

.some-img {
  margin-right: 16px;
  width: 90%;
  height: 100%;
}

.some-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.some-icon {
  width: 64px;
  display: flex;
  flex-direction: column;
  color: var(--color-third);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: #ffffff;
  padding-left: 160px;
  padding-right: 160px;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

footer ul li {
  padding: 20px;
}

footer ul li a {
  font-weight: 700;
}

.logo {
    max-height: 48px;
    padding-right: 16px;
}

.footer-logo {
  display: flex;
  align-items: center;;
}

.footer-logo p {
  font-size: 20px;
  font-weight: 700;
}

.footer-focus:focus-visible {
  outline: var(--color-primary) solid 3px;
  outline-offset: 8px;
  height: 46px;
  border-radius: 1px;
}







@media screen and (max-width: 1400px) {

  nav {
    padding-left: 80px;
    padding-right: 80px;
  }

  .haeding-section {
    padding: 28px 80px;
  }

  .latest-news {
    padding: 28px 80px;
  }

  .publications {
    padding: 56px 80px;
  }

  footer {
    padding-left: 80px;
    padding-right: 80px;
  }

  .news-card {
    grid-column: span 10;
  }

  .publi-card {
    grid-column: span 5;
  }
}